* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: inherit
}

input::placeholder,
textarea::placeholder {
  color: inherit
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block;
  color: inherit
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Roboto-Regular.woff2) format("woff2")
}

@font-face {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Tahoma-Bold.woff2) format("woff2")
}

:root {
  --font-main: "Roboto", sans-serif;
  --font-second: "Tahoma", sans-serif;
  --container-width: 1120px;
  --container-step: 20px;
  --container-step-tablet: 15px;
  --container-step-mobile: 10px;
  --container: calc(var(--container-width) + (var(--container-step) * 2));
  --background-page: #f6f6f6;
  --main: #000000;
  --black: #000000;
  --white: #ffffff;
  --green: #14c867;
  --dark: #161616;
  --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --gray: #292929;
  --gray2: #f0f0f0;
  --gray3: #ececec;
  --gray4: #f1f1f1;
  --dark-opacity-084: rgba(22, 22, 22, 0.84);
  --hover: #0feb75;
  --active: #0feb75
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step)
}

@media (max-width:991px) {
  .container {
    padding: 0 var(--container-step-tablet)
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 var(--container-step-mobile)
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  color: var(--main);
  background-color: var(--background-page)
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 64px
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 17px;
  line-height: 1;
  font-weight: 400;
  color: var(--white);
  background-color: var(--green);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 16px 33px;
  min-width: 121px;
  min-height: 58px;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}

.but_gray {
  padding: 6px 30px;
  background-color: var(--gray);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  min-height: 38px
}

@media (any-hover:hover) {
  .but:hover {
    background-color: var(--hover)
  }
}

.but:focus-visible {
  background-color: var(--hover)
}

.but:active {
  background-color: var(--active);
  -webkit-transition-duration: .1s;
  transition-duration: .1s
}

.input {
  display: block;
  padding: 0 24px;
  border-radius: 39px;
  width: 100%;
  height: 60px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: var(--black);
  background-color: var(--gray2);
  border: 2px solid transparent;
  -webkit-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out
}

@media (any-hover:hover) {
  .input:hover {
    border-color: var(--hover)
  }
}

.input:focus-visible {
  border-color: var(--hover)
}

.tx-17 {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%
}

.tx-23 {
  font-weight: 400;
  font-size: 23px;
  line-height: 140%
}

.tt-64-40 {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 64px;
  line-height: 120%
}

@media (max-width:1440px) {
  .tt-64-40 {
    font-size: 58px
  }
}

@media (max-width:1220px) {
  .tt-64-40 {
    font-size: 52px
  }
}

@media (max-width:991px) {
  .tt-64-40 {
    font-size: 46px
  }
}

@media (max-width:600px) {
  .tt-64-40 {
    font-size: 40px
  }
}

.tt-31-24 {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 31px;
  line-height: 140%
}

@media (max-width:991px) {
  .tt-31-24 {
    font-size: 28px
  }
}

@media (max-width:600px) {
  .tt-31-24 {
    font-size: 24px
  }
}

.tt-53-36 {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 53px;
  line-height: 120%
}

@media (max-width:1440px) {
  .tt-53-36 {
    font-size: 48px
  }
}

@media (max-width:991px) {
  .tt-53-36 {
    font-size: 42px
  }
}

@media (max-width:600px) {
  .tt-53-36 {
    font-size: 36px
  }
}

.header {
  padding: 24px 0;
  background-color: var(--dark)
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark);
    z-index: 100;
    padding: 100px 30px 30px 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

@media (max-width:600px) {
  .header__menu {
    padding: 80px 30px 30px 30px
  }
}

.header__menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: 30px;
    right: 30px
  }
}

@media (max-width:600px) {
  .header__exit-menu {
    top: 15px;
    right: 15px
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 16px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px
  }
}

@media (max-width:991px) {
  .nav__list_footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 10px 16px
  }
}

.nav__link {
  color: var(--white);
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out
}

.nav__link_white {
  color: var(--white)
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: var(--hover)
  }
}

.nav__link:focus-visible {
  color: var(--hover)
}

.nav__link:active {
  color: var(--active);
  -webkit-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 30px;
  height: 16px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  border-radius: 8px
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--dark)
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 24px 32px
}

.footer__top:not(:last-child) {
  margin-bottom: 24px
}

@media (max-width:991px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.footer__texts {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 641px;
  flex: 0 1 641px
}

@media (max-width:991px) {
  .footer__texts {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.footer__text {
  color: var(--white)
}

.footer__text:not(:last-child) {
  margin-bottom: 8px
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 24px 32px
}

@media (max-width:991px) {
  .footer__bottom {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

.footer__bottom-right {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px
}

@media (max-width:991px) {
  .footer__bottom-right {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    width: 100%
  }
}

.footer__war {
  width: 57px;
  height: 57px
}

@media (max-width:991px) {
  .footer__war {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 57px;
    flex: 0 0 57px
  }
}

.footer__war img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.cookie {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 448px;
  flex: 0 1 448px
}

@media (max-width:991px) {
  .cookie {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.cookie__texts:not(:last-child) {
  margin-bottom: 8px
}

.cookie__text {
  opacity: .5;
  color: var(--white)
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 13px
}

.icons__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  height: 24px
}

.icons__icon a {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out
}

@media (any-hover:hover) {
  .icons__icon a:hover {
    opacity: .6
  }
}

.icons__icon a:focus-visible {
  opacity: .6
}

.icons__icon a:active {
  opacity: .6;
  -webkit-transition-duration: .1s;
  transition-duration: .1s
}

.icons__icon a img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.terms {
  padding: 80px 0 0 0
}

.terms h1 {
  font-size: 42px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 16px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-size: 36px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 700
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 25px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 14px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-size: 20px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 400
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 12px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-size: 18px;
  line-height: 1.3;
  color: var(--main);
  font-weight: 400
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 12px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.hero:not(:last-child) {
  margin-bottom: 80px
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 653px;
  max-width: 1920px;
  padding: 0
}

.hero__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 40px;
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  background-color: var(--dark-opacity-084)
}

@media (max-width:991px) {
  .hero__left {
    padding: 40px 24px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

@media (max-width:600px) {
  .hero__left {
    padding: 40px 16px
  }
}

.hero__descr {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 601px;
  flex: 0 1 601px
}

@media (max-width:991px) {
  .hero__descr {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.hero__title {
  color: var(--green)
}

.hero__title:not(:last-child) {
  margin-bottom: 8px
}

.hero__subtitle {
  color: var(--white)
}

.hero__subtitle:not(:last-child) {
  margin-bottom: 32px
}

.hero__texts {
  width: 100%
}

.hero__text {
  color: var(--white)
}

.hero__text:not(:last-child) {
  margin-bottom: 8px
}

.about:not(:last-child) {
  margin-bottom: 40px
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 24px 32px
}

@media (max-width:768px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.about__left {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 352px;
  flex: 0 0 352px
}

@media (max-width:768px) {
  .about__left {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.about__title:not(:last-child) {
  margin-bottom: 32px
}

.about__texts {
  width: 100%
}

.about__text:not(:last-child) {
  margin-bottom: 8px
}

.about__image {
  position: relative;
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 745px;
  flex: 0 1 745px;
  padding-bottom: 42%
}

@media (max-width:768px) {
  .about__image {
    padding-bottom: 63%;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.about__image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.trans:not(:last-child) {
  margin-bottom: 64px
}

.trans__title:not(:last-child) {
  margin-bottom: 24px
}

.trans__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 16px 32px
}

@media (max-width:991px) {
  .trans__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.trans__item {
  min-height: 159px;
  padding: 16px;
  border-radius: 20px;
  background-color: var(--gray3)
}

.trans__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 16px
}

.trans__top:not(:last-child) {
  margin-bottom: 16px
}

@media (max-width:600px) {
  .trans__top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

.trans__game {
  color: var(--green)
}

.trans__name {
  text-align: center
}

.zawody {
  background-color: var(--dark);
  padding: 64px 0
}

.zawody:not(:last-child) {
  margin-bottom: 64px
}

.zawody__title {
  color: var(--white)
}

.zawody__title:not(:last-child) {
  margin-bottom: 32px
}

.zawody__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 24px 32px
}

@media (max-width:991px) {
  .zawody__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.zawody__texts {
  width: 100%
}

.zawody__text {
  color: var(--white)
}

.zawody__text:not(:last-child) {
  margin-bottom: 16px
}

.zawody__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 24px 32px
}

@media (max-width:991px) {
  .zawody__images {
    gap: 20px
  }
}

.zawody__image {
  position: relative;
  width: 100%;
  padding-bottom: 115%
}

.zawody__image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.slots:not(:last-child) {
  margin-bottom: 64px
}

.slots_slots {
  padding-top: 80px
}

.slots__title {
  text-align: center
}

.slots__title:not(:last-child) {
  margin-bottom: 24px
}

.slots__texts {
  max-width: 736px;
  width: 100%;
  margin: 0 auto
}

.slots__texts:not(:last-child) {
  margin-bottom: 32px
}

.slots__text {
  text-align: center
}

.slots__text:not(:last-child) {
  margin-bottom: 16px
}

.slots__text_bottom {
  text-align: left
}

.slots__link {
  margin: 0 auto
}

.slots__image {
  position: relative;
  width: 100%;
  padding-bottom: 39%
}

.slots__image:not(:last-child) {
  margin-bottom: 64px
}

.slots__image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.slots__bottom {
  width: 100%
}

.slots__subtitle:not(:last-child) {
  margin-bottom: 16px
}

.slots__bottom-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 24px 32px
}

@media (max-width:991px) {
  .slots__bottom-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.slots__bottom-left {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 640px;
  flex: 0 1 640px
}

@media (max-width:991px) {
  .slots__bottom-left {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.slots__bottom-info {
  border-radius: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 448px;
  flex: 0 1 448px;
  background-color: var(--gray4);
  width: 100%;
  padding: 24px
}

@media (max-width:991px) {
  .slots__bottom-info {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding: 24px 16px
  }
}

.slots__mintitle {
  text-align: center
}

.slots__mintitle:not(:last-child) {
  margin-bottom: 8px
}

.slots__list {
  width: 100%
}

.slots__item {
  text-align: center
}

.slots__item:not(:last-child) {
  margin-bottom: 16px
}

.slots__item span {
  display: block;
  opacity: .5;
  margin-bottom: 8px
}

.contacts:not(:last-child) {
  margin-bottom: 64px
}

.contacts__title:not(:last-child) {
  margin-bottom: 8px
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 24px 32px
}

@media (max-width:991px) {
  .contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.contacts__text {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 353px;
  flex: 0 0 353px;
  width: 100%
}

@media (max-width:991px) {
  .contacts__text {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.form {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 734px;
  flex: 0 1 734px;
  width: 100%
}

@media (max-width:991px) {
  .form {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.form__inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template: auto/repeat(2, 1fr);
  gap: 24px 32px
}

.form__inputs:not(:last-child) {
  margin-bottom: 16px
}

@media (max-width:991px) {
  .form__inputs {
    gap: 24px
  }
}

@media (max-width:600px) {
  .form__inputs {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.form__label {
  display: block;
  width: 100%
}

.form__label span {
  display: block;
  margin-bottom: 4px;
  padding-left: 29px;
  opacity: .5
}

.form__button {
  margin-left: auto
}