@font-face {
  font-family: 'Tektur';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/Tektur-Medium.woff2") format("woff2")
}

@font-face {
  font-family: 'Genos';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Genos-Regular.woff2") format("woff2")
}