@font-face {
  font-family: 'LibreFranklin';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/LibreFranklin-Medium.woff2") format("woff2")
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Karla-Regular.woff2") format("woff2")
}