@font-face {
  font-family: 'EmblemaOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/EmblemaOne-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'PublicSans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/PublicSans-Medium.woff2") format("woff2")
}

@font-face {
  font-family: 'PublicSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/PublicSans-Regular.woff2") format("woff2")
}