@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/Spartan-Medium.woff2") format("woff2")
}

@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Syne-Bold.woff2") format("woff2")
}